<% provide(:title, 'About') %>

<div class ="about">
<h1>Created by</h1>
<ul>
<p>Kenneth Byrne - x17132410</p>
<p>Eithne O Sullivan - x17132185</p>
<p>Jemma McCreash - x16144457</p>
<p>Aaron Pope - x13100106</p>
</ul>

<br>

<h1>Instructions to use</h1>

<br>

<h2>Viewing website while not logged in</h2>
<p>The following will be available when viewing the website while not being logged in</p>
<br>
<p>User will see a slimmed down version of the homepage and navigation menu</p>
<p>User will only have access to the Home Screen, About Screen and the ability to Sign up or Sign in to the site</p>
<p>User can search the movie database, however when viewing a movie they will not be given the option to buy
    instead they will be prompted to sign in</p>


<br>
<h2>Viewing website while logged in</h2>
<p>The following will be available when viewing the website while being logged in</p>
<br>
<p>User will gain access to the movies and cart section of the navigation bar</p>
<p>User will gain access to the choose a genre section on the homepage</p>
<p>User will also gain access to "My Orders" section in the footer</p>
<p>While viewing a movie the user will be able to add a movie to the cart and proceed to purchase the movie</p>

<br>
<h2>Viewing website while logged in as administrator</h2>
<p>The following will be available when viewing the website while being logged in as am administrator</p>
<br>
<p>Admin users have the ability to add new movies and categories</p>
<p>Admin users will also have the ability to edit and remove existing movies</p>
<p>Admin users can edit and delete orders and order items</p>


<h1>Admin Users can only log in through the Admin Log In Section on the homepage</h1>


</div>
